<p>You are currently friends with:</p>
<% @friends.each do |friend|  %>
<ul>
<li><%= friend.id %> | <%=  link_to "Remove this friend?", friends_destroy_path(@friend), method: 'delete' %> </li>
<%= friend.email %>
</ul>

<% end %>
