<button type="button" id="friendsNotification" data-toggle="dropdown" aria-expanded="true">
	<i class="fa fa-bell"><div class="<%= 'true' if FriendRequest.where(friend: current_user).count > 0 %>"><%= FriendRequest.where(friend: current_user).count %></div></i>
</button>
